{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHawk</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'display/icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "display/base_style.css" %}">

    <script>
        function validateForm() {
            const query = document.getElementById("search-input").value;
            if (query && query.trim() === "") {
                alert("Please enter a search query");
                return false;
            }
            return true;
        }
    </script>

    {% block styles %}{% endblock %}
</head>

<body>
<header>
    <section>
        <nav>
            <a href="{% url 'MainPageView' %}" class="logo">JobHawk</a>
            <ul class="menu">
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </section>
</header>
{% block content %}{% endblock %}
<footer>
    <section>
        <p>&copy; 2023 JobHawk. All rights reserved.</p>
    </section>
</footer>
</body>
</html>