/* Define variables for repeated colors and spacing */
@font-face {
    font-family: "Montserrat";
    src: url('../display/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Light";
    src: url('../display/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Black";
    src: url('../display/fonts/Montserrat-Black.ttf') format('truetype');
}

:root {
    --primary-color: #00f088;
    --accent-color: #4FB3BF;
    --dark-bg-color: #1c1c1c;
    --light-bg-color: #282828;

    /* Text Colouring */
    --strong-text-color: #f7f7f7;
    --weak-text-color: #d4d4d4;

    --body-font: Montserrat Light, sans-serif;
    --heading-font: Montserrat, Segoe UI, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--weak-text-color);
    background-color: var(--dark-bg-color);
    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Header */
header {
    background-color: var(--light-bg-color);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--weak-text-color);
    text-decoration: none;
}

.menu li a:hover {
    color: var(--accent-color);
}

/* Hero Section */
.hero {
    /*background-image: url('hero-bg.jpg');*/
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3.7rem;
    text-align: center;
    color: var(--strong-text-color);
    margin-bottom: 2rem;
}

.hero form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Features Section */
.features {
    background-color: var(--light-bg-color);
    padding: 3rem 0;
}

.features h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.feature-list {
    display: flex;
    justify-content: space-around;
}

.feature-item {
    text-align: center;
    max-width: 350px;
}

.feature-item img {
    height: 120px;
    margin-bottom: 2rem;
}

/* Footer */
footer {
    background-color: var(--dark-bg-color);
    color: var(--weak-text-color);
    padding: 1rem 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

.hero input[type="text"] {
    background: rgba(255, 255, 255, .04);
    border-radius: 4px;
    padding: 1rem;
    color: var(--weak-text-color);

    border: none;
    outline: none;

    font-size: 1.6rem;
    width: 70%;
    transition: all 500ms;
}

.hero input[type="text"]:hover {
    background: rgba(255, 255, 255, .06);
    color: var(--strong-text-color);
}

.hero button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--weak-text-color);
    font-size: 1.5rem;

    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 4px;

    border: none;
    outline: none;
    transition: all 500ms;
}

.hero button[type="submit"]:hover {
    background-color: var(--accent-color);
    color: var(--strong-text-color);
}