{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JobHawk</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'display/icons/favicon.ico' %}">
        <link rel="stylesheet" href="{% static "display/base_style.css" %}">
        {% block styles %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>