{% extends "display/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "display/search_page_style.css" %}">
{% endblock %}

{% block content %}
    <header>
        <!-- header content -->
    </header>
    <main>
        <section>
            <!-- 1/3 content -->
            <div class="center-box">
                <h1>What is your job description?</h1>
                <div class="input-wrapper">
                    <label for="search-input"></label><input id="search-input" class="search-input" type="text" placeholder="Search..">
                </div>
            </div>


        </section>
        <section>
            <!-- 2/3 content -->
        </section>
    </main>
    <footer>
        <!-- footer content -->
    </footer>
{% endblock %}