{% extends "display/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "display/search_page_style.css" %}">
{% endblock %}

{% block content %}
    <main>
        <section class="top-searchbar">
            <div class="container">
                <form>
                    <label for="search-input"></label>
                    <input id="search-input" class="search-input" type="text" placeholder="Enter job Title or keywords">
                    <button type="submit"><img src="{% static 'display/icons/magnifying_glass.png' %}" alt="Search">
                    </button>
                </form>
            </div>
        </section>
        <section class="results">
            <div class="container">
                <ul>
                    {% for city in object_list %}
                        <li>
                            {{ city.name }}, {{ city.state }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}