/* Define variables for repeated colors and spacing */
@font-face {
    font-family: "Montserrat";
    src: url('design/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Light";
    src: url('design/fonts/Montserrat-Light.ttf') format('truetype');
}

/* 949494  03dac5  ff4181*/
:root {
    --primary-color: #00f088;
    --accent-color: #0ac085db;
    --dark-background-color: #121212;
    --sub-dark-color: #222222;
    --lighter-background-color: rgba(4, 66, 43, 0.86);
    --info-color: #949494;
    --text-color: #f0f0f0;
    --grey-text-color: #9f9f9f;
    --highlighted-text: #bb86fb;
    --highlighted-text-hover: #dbbeff;
    --body-font: Montserrat Light, sans-serif;
    --heading-font: Montserrat, Segoe UI, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--dark-background-color);
    color: var(--text-color);
    line-height: 1.4;
    font-size: 18px;
    padding: 0 10px
}

.container {
    max-width: 1200px;
    padding: 100px 40px 40px;
}

h1, h2, h3 {
    text-transform: capitalize;
    color: var(--primary-color);
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}

header {
    background: linear-gradient(180deg, rgba(0, 240, 136, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;

    border: none;
    border-radius: 6px;

    padding: 10px 7px;

    box-shadow: 0 0 1px var(--accent-color);
    transition: 0.3s;
}

.search-input {
    flex-grow: 1;
    background: transparent;
    border: none;
    color: var(--grey-text-color);
    font-size: 28px;
    padding: 10px;
    outline: none;
    transition: 0.3s;
}

.search-button {
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 28px;
    padding: 10px 20px;
    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.search-button:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 70px;

    opacity: 1;
    visibility: visible;
    max-height: 1000px;

    padding: 0 10px;
    margin: 40px auto;

    transition: opacity 0.5s, visibility 0.5s, max-height 0.5s;
}

.info-box {
    padding: 20px 0;
    margin: 20px auto;
    user-select: none;
}

.info-box h3 {
    color: var(--info-color);
}

.info-box ul {
    list-style: none;
    padding-left: 20px;
}

.info-box li {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-logo {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 700;
}

.navbar-links {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    gap: 20px;
}

a, a:hover {
    text-decoration: none;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", serif;
    color: var(--grey-text-color);
    text-decoration: none;
    transition: all 300ms;

    font-weight: lighter;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--primary-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    user-select: none;
    color: var(--grey-text-color);
}

@media (min-width: 768px) {
    .info-box {
        flex: 0 0 48%;
    }
}

.search-input:focus {
    color: var(--text-color);
}

.navbar-link:focus {
    color: var(--accent-color);
    outline: none;
}

.feedback-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.feedback-button:hover {
    background-color: var(--primary-color);
}

.feedback-button:focus {
    outline: none;
}

.search-focused .header {
    transform: translateY(-100px);
    transition: transform 0.5s;
}

.search-container:focus-within {
    box-shadow: 0 0 1px var(--primary-color);
}

.search-focused .search-input,
.search-focused .search-button {
    top: 0;
    position: relative;
    transition: top 0.5s;
}

.fadeOut {
    opacity: 0;
    height: 0;
    transition: 0.5s;

}

.fadeIn {
    opacity: 1;
    height: auto;
    transition: 0.5s;

}

.separator {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    height: 1px;
    background: var(--lighter-background-color);
    border-radius: 6px;
}

.spinning {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}